---
title: Andell | The Web Journey
---

<div class="welcome">
  <h1>Welcome to my Web Dev Journey</h1>
  <p class="doc">
    <%= link_to "Visit My Website To Learn More", "http://ajeanwebdev.com/" %>
  </p>
</div>